/* #projLogo {
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 100);
    cursor: pointer;
} 

#pList {
    position: relative;
    font-size: 14px;
    padding-left: 20px;
    transition: 1s;
}
#pList p {
    padding-top: 10px;
}*/

#project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projBody {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 1s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    z-index: 1;
    width: 100vw !important;
}
.project_details {
    display: flex;
    margin-top: 50px;
    width: 100%;
    margin: 50px;
    padding: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project_details div img {
    margin-right: 40px;
}

#pTitle {
    font-size: 30px;
}

#pTop {
    width: 300px;
    height: 300px;
    margin: 0;
    object-fit: scale-down;
}
#pInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px;
    font-size: 14px;
}
#pInfo div {
    margin-bottom: 25px;
}
.margin {
    margin-top: 25px;
}
#links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 0px;
    margin-top: 30px;
}

#pImages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pImg {
    border: 1px solid rgb(215, 216, 215);
    margin: 20px;
    max-width: 500px;
    object-fit: scale-down;
}

@media only screen and (max-width: 700px) {
    .project_details div img {
        max-width: 200px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .project_details {
        flex-direction: column-reverse;
    }
    .project_details div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .project_details div img {
        max-width: 250px;
        max-height: 250px;
        margin-right: 0px;
    }

    #pImg {
        max-width: 380px;
    }
}
