#contact {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(151, 255, 255);
}

#contact_body {
    padding: 20px;
    margin: auto;
    margin-bottom: auto;
    width: 90vw;
    background-color: rgba(58, 84, 107, 0.707);
    display: flex;

    justify-content: space-around;
}
#contact_text {
    margin: 40px;
    width: 40%;
}

#contact_text p {
    display: inline;
    text-align: justify;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}
.social_links {
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.409);
    padding-top: 10px;
    margin-top: 10px;
}
.socialMediaLink {
    display: flex;
    flex-direction: column;
}

.socialMediaLink p {
    padding-left: 0px;
}
@media only screen and (max-width: 700px) {
    #contact_body {
        flex-direction: column-reverse;
    }
    #contact_text {
        margin: 20px;
        width: 100%;
    }
    .contact_form {
        width: 100%;
        flex-direction: column;
        align-items: center !important;
    }
    .social_links {
        display: flex;
        font-size: 13px;
        justify-content: space-around;
        width: 100%;
        border-top: none;
        padding-top: 0px;
        margin-top: 0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.409);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
}
