#homeBody {
    padding-left: 170px;
    width: 100vw;
}
.home_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: scroll; */
}

.introText {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-height: fit-content;
    color: rgb(141, 202, 255);
    font-size: 20px;
    letter-spacing: 7px;
    word-spacing: 3px;
    line-height: 45px;
    transition: 500ms;
    background-color: rgba(0, 19, 40, 0.681);
}

.introText a {
    color: rgb(141, 202, 255);
    text-decoration: underline;
}
#home_about_img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#technologies {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#technologies p {
    color: rgb(141, 238, 255);
    margin-left: 70px;
}

#technologies div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 60vw;
}
#technologies div img {
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 100px;
    margin: 20px;
    object-fit: contain;
}
