#homeBody {
    padding-left: 170px;
    max-width: 100vw;
    overflow: hidden;
}
.home_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.introText {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    min-height: fit-content;
    color: rgb(141, 202, 255);
    font-size: 20px;
    letter-spacing: 7px;
    word-spacing: 3px;
    line-height: 45px;
    transition: 500ms;
    background-color: rgba(0, 19, 40, 0.681);
}
.avatar {
    align-self: flex-start;
}

.introText a {
    color: rgb(141, 202, 255);
    text-decoration: underline;
}
#home_about_img {
    width: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.home_services {
    width: 90vw;
    display: grid !important;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px;
    justify-content: center;
}

.home_service_div {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(173, 230, 249, 0.841);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 20px;
    color: rgb(10, 59, 59);
    width: 200px;
    height: 200px;
}

.home_service_div h2 {
    font-size: 15px;
    text-align: center;
}
@media only screen and (max-width: 700px) {
    #homeBody {
        padding-left: 30px;
        padding-right: 30px;
        top: 50px;
        overflow: hidden;
    }
    .introText {
        padding: 0px;
        width: 90vw;
        letter-spacing: 5px;
        word-spacing: 1px;
    }

    .home_services {
        display: grid !important;
        grid-template-rows: 200px 200px;
        grid-template-columns: 200px 200px;
        justify-content: center;
    }

    .home_service_div {
        padding: 7px;
        margin: 15;
        width: 160px;
        height: 170px;
    }

    .home_service_div h2 {
        font-size: 13px;
    }
    .home_service_div a,
    img {
        width: 80px;
        margin: 0;
    }
}
