#ascii_avatar {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#ascii_avatar pre {
    padding-right: 30%;
    transform-origin: top center;
    transform: translateY(2);
    transform: scale(0.8, 0.8);
}
#ascii_avatar input {
    margin: 10px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 80%;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #add8e6;
    border-radius: 0.5rem;
    height: 0.1rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -10.399999999999999px; /* Centers thumb on the track */
    background-color: #a8b4f0;
    border-radius: 1.5rem;
    height: 1.4rem;
    width: 0.2rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 0px solid #a8b4f0;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #add8e6;
    border-radius: 0.5rem;
    height: 0.1rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #a8b4f0;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1.5rem;
    height: 1.4rem;
    width: 0.2rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 0px solid #a8b4f0;
    outline-offset: 0.125rem;
}
