#contactForm {
    z-index: 1;
    min-width: 300px;
    width: 30%;
}

#contactForm form {
    font-family: Courier, "Courier New", monospace;
    font-size: 17px !important;
    letter-spacing: 5px;
    color: rgb(141, 202, 255);
}

#contactForm form div textarea {
    height: 300px;
    width: 100%;
}

#contactForm form div input {
    width: 100%;
}
