#nameTitle a {
    color: rgb(141, 202, 255);
}
#sam {
    min-height: 100vh;
    left: 0px;
    position: fixed;
    top: 0%;
    color: rgb(141, 202, 255);
    display: flex;
    min-height: 550px;
    flex-direction: column;
    width: 100%;
    z-index: 3;
}

#nameTitle {
    margin-bottom: 20%;
}

#sam h3 {
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 0;
    margin-left: 50px;
}
#sam p {
    font-size: 20px;
    margin-left: 50px;
    max-width: 80vw;
    margin-top: 0;
}
@media only screen and (max-width: 700px) {
    #sam h3 {
        font-size: 50px;
    }
    #sam p {
        font-size: 15px;
        max-width: 70vw;
        margin-top: 20px;
    }
    #sam p:nth-child(1) {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    #sam h3 {
        font-size: 40px;
    }
    #nameTitleInline p {
        font-size: 13px !important;
    }
    #sam p {
        font-size: 13px;
        max-width: 70vw;
        margin-top: 20px;
    }
    #sam p:nth-child(1) {
        margin-top: 50px;
    }
}
