#navBar .navBar_links p {
    transition: 500ms;
    border-bottom: 1px solid transparent;
}

#navBar .navBar_links p:hover {
    color: rgb(64, 218, 161);
    border-bottom: 1px solid;
    cursor: pointer;
}

.navBarScroll {
    top: 0%;
    left: -100%;
    position: sticky;
    opacity: 0;
    z-index: 2;
    width: 170px;
    padding: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.navBarScroll .navBar_links p {
    margin-top: 30px;
}

.navBarFixed {
    padding-left: 5%;
    padding-right: 5%;
    opacity: 1;
    height: auto;
    background-color: rgb(170, 105, 105, 0.2);
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}

.navBarFixed .navBar_title a,
p {
    margin: 0;
    margin-top: 5px;
    display: flex;
    align-items: start;
}

.navBarFixed .navBar_title p {
    border: 0;
}

.navBarFixed .navBar_links {
    display: flex;
    align-items: center;
    margin: 0;
}
.navBarFixed .navBar_links a {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .navBarScroll {
        width: 100vw;
        height: 50px;
        left: 0%;
        margin: 0;
        opacity: 1;
        padding: 0px;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgba(1, 47, 48, 0.26) !important;
        border-bottom: 1px solid rgb(68, 100, 100) !important;
        backdrop-filter: blur(10px) saturate(20%) brightness(60%);
    }

    #navBar div {
        display: flex;
    }
    #navBar div a {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0px;
    }

    #navBar .navBar_links p {
        margin-top: 0px;
        margin-left: 20px;
    }

    .navBarScroll .navBar_title p {
        border: none;
        margin-left: 20px;
    }
    .navBarFixed .navBar_title p {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .navBar_title a {
        margin: 0px;
        margin-left: 10px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 500px) {
    #navBar .navBar_links p {
        font-size: 13px;
    }
}
