#home_projects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(141, 202, 255);
    margin-top: 50px;
    margin-bottom: 50px;
}

.home_project_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-top: 1px solid rgb(141, 202, 255);
    width: 60vw;
    text-align: center;
}
#home_projects div {
    display: flex;
    justify-content: center;
}

#home_projects div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home_projects div img {
    border-radius: 50%;
    max-width: 20vw;
    max-height: 20vw;
    margin: 10px;
}
