#projectCard {
    margin: 35px;
    position: relative;
    width: 300px;
    padding: 20px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.627);
}

#projectCard p {
    text-align: center !important;
}
#projLogo {
    width: 200px;
    height: 200px;
    margin: 30px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 100);
    cursor: pointer;
}

@media only screen and (max-width: 700) {
    #projLogo {
        width: 130px;
    }
    #projectCard {
        max-width: 200px !important;
    }
}
