#technologies {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 100%;
}
#technologies p {
    color: rgb(141, 238, 255);
}

#technologies div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 80vw;
}
#technologies div img {
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 80px;
    margin: 10px;
    object-fit: contain;
}

@media only screen and (max-width: 700px) {
}
