#servives_page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(151, 255, 255);
}

.services_page_tab {
    margin-top: 50px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
}

.vertical_division {
    display: flex;
}
