#servives_page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(151, 255, 255);
}
.vertical_division {
    display: flex;
}
.services_aside {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 5%;
    padding-right: 30px;
    border-right: 1px solid white;
}
.services_aside p {
    text-align: center !important;
}
.services_page_tab {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .vertical_division {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .services_aside {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-right: none;
        border-bottom: 1px solid white;
        margin-left: 0;
        padding-bottom: 20px;
        width: 90%;
    }
    .services_aside p {
        font-size: 15px;
        text-align: left !important;
    }
}
